/* General layout styling */
.homepage-container {
  padding-left: var(--padding-extra-large);
  padding-right: var(--padding-extra-large);
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-bg-color);
}

/* Sidebar container */
.sidebar-container {
  width: 250px;
  border-right: 1px solid #e1e8ed; /* Separator line for the sidebar */
  flex-shrink: 0;
  height: 100vh;
}

/* Main content container */
.main-content {
  flex-grow: 1;
  background-color: var(--primary-bg-color);
  margin-left: 100px; /* Adjust to accommodate sidebar */
  padding-right: 300px; /* Add padding inside the main content */
  border-left: 1px solid #e1e8ed; /* Separator line for the main content */
}

@media (max-width: 1024px) {
  .homepage-container {
    padding: var(--padding-medium);
  }

  .sidebar-container {
    width: 200px; /* Adjust sidebar size on smaller screens */
  }

  .main-content {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 80px; /* Adjust sidebar for mobile screens */
  }

  .main-content {
    margin-left: 80px;
  }
}

@media (max-width: 500px) {
  .homepage-container {
    flex-direction: column; /* Stack sidebar and main content vertically */
  }

  .sidebar-container {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e1e8ed; /* Separator line for mobile */
  }

  .main-content {
    margin-left: 0;
    padding-bottom: 50px;
  }
}
