/* General layout styling */
.homepage-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-bg-color);
}

/* Sidebar container */
.sidebar-container {
  width: 250px;
  flex-shrink: 0;
  height: 100vh;
  border-right: 1px solid #e1e8ed;
}

/* Main content container */
.main-content {
  flex-grow: 1;
  max-width: 600px; /* Set a max-width similar to Twitter's post area */
  background-color: var(--primary-bg-color);
  margin-left: 100px; /* Adjust to accommodate sidebar */
  padding-right: 20px;
  border-left: 1px solid #e1e8ed;
}

/* Right section */
.right-section {
  width: 300px; /* Define width for the right section */
  flex-shrink: 0;
  margin-left: 20px;
  background-color: var(--primary-bg-color);
}

/* Separator for sections */
.separator {
  width: 1px;
  background-color: #e1e8ed;
}

@media (max-width: 1024px) {
  .sidebar-container {
    width: 200px;
  }

  .right-section {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 100px;
  }

  .main-content {
    margin-left: 100px;
  }
}

@media (max-width: 500px) {
  .homepage-container {
    flex-direction: column;
  }

  .sidebar-container {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #e1e8ed;
  }

  .main-content {
    margin-left: 0;
    padding-bottom: 50px;
  }
}
