.posts-container {
  background-color: var(--primary-bg-color);
  padding: var(--padding-medium);
}

.post-item {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: var(--padding-small);
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  max-width: 100%;
  box-sizing: border-box;
}

.post-content-container {
  display: flex;
  flex-direction: row;
}

.empty-avatar-column {
  width: 50px; /* Keeps this column empty for avatar spacing */
}

.post-avatar {
  width: 50px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-main-content {
  flex-grow: 1;
  margin-left: 10px;
  width: 100%;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-details {
  display: flex;
  align-items: center;
}

.post-name {
  font-weight: bold;
  font-size: 16px;
}

.post-username {
  color: var(--secondary-text-color);
  font-size: 14px;
  margin-left: 10px;
}

.post-time {
  color: gray;
  font-size: 12px;
}

.post-content {
  font-size: 15px;
  margin-top: 5px;
  word-wrap: break-word; /* Ensure text wraps correctly */
  white-space: normal; /* Allow text to break onto the next line */
  word-break: break-all; /* Breaks long words into multiple lines */
  overflow-wrap: break-word; /* Ensure long words are broken */
}

.post-media {
  margin-top: 10px;
}

.media-img,
.media-video {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.post-action-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-count {
  font-size: var(--font-size-small);
  margin-left: 5px;
}

.post-icon {
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-text-color);
}
