/* Sidebar.css */
.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: var(--primary-bg-color);
  padding-left: var(--padding-extra-large);
  color: var(--primary-text-color);
  z-index: 1000;
  transition: width 0.3s ease;
}

.sidebar h2 {
  text-align: center;
  color: var(--primary-text-color);
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: var(--margin-small) 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  font-size: var(--font-size-large);
  transition: background-color 0.3s ease;
}

.sidebar nav ul li a i {
  margin-right: var(--margin-medium);
  font-size: var(--font-size-large);
}

.sidebar nav ul li a:hover {
  background-color: var(--secondary-bg-color);
  border-radius: 30px;
}

.sidebar .post-button {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: var(--padding-small) var(--padding-medium);
  text-align: center;
  border-radius: 30px;
  margin-top: var(--padding-medium);
  font-size: var(--font-size-large);
}

.sidebar .post-button:hover {
  background-color: var(--accent-hover-color);
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 80px; /* Collapse sidebar */
  }

  .sidebar h2 {
    display: none; /* Hide sidebar title */
  }

  .sidebar nav ul li a .link-text {
    display: none; /* Hide link text on smaller screens */
  }

  .sidebar nav ul li a i {
    margin: 0 auto; /* Center icons */
    font-size: 1.5rem;
  }

  .sidebar .post-button {
    width: 100%; /* Full width button */
  }
}

@media (max-width: 500px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    width: 100vw; /* Make the sidebar a bottom nav bar */
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sidebar nav ul {
    display: flex;
    justify-content: space-between;
  }

  .sidebar nav ul li {
    margin: 0;
  }

  .sidebar .post-button {
    display: none; /* Hide post button on very small screens */
  }
}
