/* UserProfileDetails.css */
.profile-details {
  text-align: center;
  margin-top: var(--padding-small);
}

.profile-details h2 {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--primary-text-color);
}

.profile-details p {
  color: var(--secondary-text-color);
}

.profile-joined {
  font-size: var(--font-size-small);
  margin-top: var(--padding-small);
  color: var(--secondary-text-color);
}

.profile-stats {
  margin-top: var(--padding-medium);
  display: flex;
  justify-content: center;
  gap: var(--padding-small);
}

.profile-stats span {
  font-size: var(--font-size-small);
  color: var(--accent-color);
}
