/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-bg-color);
}

h1,
h2,
h3 {
  color: var(--primary-text-color);
  margin-bottom: var(--margin-small);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-medium);
}
.content {
  padding: 20px;
}
