/* Buttons.css */
.btn {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--accent-hover-color);
}

.btn-primary {
  background-color: var(--button-primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--input-focus-color);
}

.btn-secondary {
  background-color: var(--button-secondary-color);
  color: #fff;
}

.btn-secondary:hover {
  background-color: var(--input-focus-color);
}
