/* Form.css */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-bg-color);
}

.form-wrapper {
  background-color: var(--secondary-bg-color);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-group {
  margin-bottom: var(--padding-medium);
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: var(--padding-small);
  color: var(--primary-text-color);
}

.form-group input {
  width: 100%;
  padding: var(--padding-small);
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--border-radius);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.form-group input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-button {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: var(--padding-small) var(--padding-medium);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.form-button:hover {
  background-color: var(--accent-hover-color);
}
